.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-title {
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  font-size: 25pt;
  padding: 0 2%;
}

.available-rooms {
  font-size: 15pt;
  height: 300px;
  width: 100%;
  overflow-y: scroll;
  overscroll-behavior: contain;
  align-items: center;
  list-style-type: none;
  padding: 0;
  border: 1px solid #4e1621;
}

.room-type {
  margin-left: 5%;
}

.none-available {
  font-size: 20pt;
  margin: 10%;
  text-align: center;
}

.emphasize {
  padding: 0 1%;
  font-size: larger;
  font-style: oblique;
  font-family: Helvetica, sans-serif;
  color: #7b7b7b;
}

.single-booking {
  background-color:#fadbe055;
  padding: 2%;
  border-radius: 5px;
  border: solid 1px #4e1621;
}

.login {
  width: 100%;
}

.username {
  margin: 3% 0 1%;
}

.password {
  margin: 1% 0 3%;
}

.username-input, .password-input {
  width: 150px;
}

.submit {
  border: 1px black solid;
  padding: 3%;
  border-radius: 5px;
  margin-top: 3%;
  background-color: #e3e3e385;
}

.checkmark {
  color: green;
  font-size: 25pt;
  font-weight: 900;
}

.wrong {
  color: red;
}

.modal__container-2 {
  background-color: #fff;
  padding: 30px;
  min-width: 350px;
  max-width: 60%;
  max-height: 500px;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal {
  font-family: 'Raleway', sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  min-width: 800px;
  max-width: 60%;
  max-height: 500px;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 20pt;
  line-height: 1.25;
  width: 100%;
  box-sizing: border-box; 
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.modal__btn:not(.choose-room) {
  font-size: .875rem;
  padding: 1%;
  margin: 1% 5%;
  border: solid 2px;
  border-image: linear-gradient(to bottom right, #fadbe0, #c79da4, #4e1621, #c79da4, #fadbe0) 1;
  text-transform: none;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.choose-room {
  border: 1px solid #4e1621;
  border-radius: 5px;
  font-size: 20pt;
  margin: 0 2%;
  padding: 1%;
}

.book-now {
  margin-bottom: 2%;
}

.book-now:disabled {
  color: white;
  background-image: linear-gradient(to bottom right, #fadbe0, #c79da4, #4e1621, #c79da4, #fadbe0);
  font-family:cursive;
  font-size: larger;
  border: none;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: 1;
  animation-timing-function: linear; 
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn:hover {
  color: white;
  background-color: #4e1621;
}

@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.ignore-click {
  position: none;
}

.hidden {
  display: none;
}