body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

main:not(.modal__content) {
  margin: 0 3% 3% 3%;
  background-size: cover;
  background-image: url("../images/lobby.jpg");
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

nav {
  margin: 0 3%;
  border: rgb(188, 174, 174) solid 1px;
  border-bottom: none;
  justify-content: space-between;
  align-items: center;
}

img {
  object-fit: cover;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15pt;
  font-family: 'Raleway', sans-serif;
}

form {
  width: fit-content;
}

h1 {
  margin: 1.5%;
  font-family: 'Tilt Prism', cursive;
  font-size: 45pt;
  color: #860c0f;
  text-shadow: 1px 1px 3px rgb(85, 85, 85);
}

h2:not(.modal__title) {
  font-size: 30pt;
  text-shadow: 1px 1px 2px #860c0f;
}

h3 {
  font-size: 20pt;
  font-weight: 600;
}

h4 {
  font-size: 12pt;
}

footer:not(.modal__footer) {
  margin: 3%;
  border-top: rgb(212, 212, 212) solid 1px;
  font-size: 10pt;
  color: #575757;
  text-align: center;
  line-height: .5;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.material-symbols-outlined {
  padding: 0 2%;
  cursor: pointer;
  font-size: 20pt;
}

.motto {
  padding-right: 3%;
}

.nav-button {
  height: 50px;
  width: 200px;
}

.nav-button:hover, .nav-button:focus {
  background-color: white;
  border-bottom: solid 5px #d1ae8f;
}

.icon {
  font-size: 25pt;
  margin: 0 20%;
  color: #575757;
}

.icon:hover, .icon:focus {
  color: black;
}

.icons {
  padding: 0 5%;
  margin: 0 5%;
}

.date-selector, .bookings, .expenses, .manager-dash {
  height: 400px;
  width: 80%;
  margin: 10% 0;
  background-color: rgba(255, 255, 255, 0.365);
  justify-content: center;
  align-items: center;
}

.calendar, .get-room {
  border: rgb(188, 174, 174) solid 1px;
  padding: 2%;
  margin-bottom: 10%;
  font-size: 15pt;
  height: 50px;
  width: 250px;
}

.calendar {
  border-right: none;
}

.get-room {
  background-color: rgba(255, 255, 255, 0.745);
  float: right;
  border-left: none;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.bookings {
  justify-content: space-evenly;
}

.bookings-section {
  height: 75%;
  width: 50%;
  overflow-y: scroll;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.875);
  padding: 2% 5%;
}

.expenses-section {
  width: 40%;
  text-align: center;
  font-size: 20pt;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.875);
}

.today-available {
  background-color: rgba(255, 255, 255, 0.875);
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 3%;
  padding: 3%;
  border-radius: 10px;
}

.today-available {
  height: 250px;
  overflow-y: scroll;
}

.revenue {
  text-align: center;
}

::-webkit-scrollbar {
  width: .5rem;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

.space-out {
  margin-left: 1%;
}

.size-up {
  font-size: 20pt;
}

.find-user {
  border: 1px solid #860c0f;
  border-radius: 5px;
  padding: 2%;
  margin: 3% 3% 0 0;
}

.single-booking {
  justify-content: space-between;
  align-items: center;
  font-size: 10pt;
}

.delete-booking {
  font-size: 10pt;
  border: #860c0f 1px solid;
  border-radius: 5px;
  padding: 2%;
  background-color: #860c0e2b;
}

.delete-booking:disabled {
  color:white;
  background-color: rgb(134, 12, 14);
}

.calendar-manager, .get-room-manager {
  border: rgb(188, 174, 174) solid 1px;
  padding: 2%;
  margin: 5% 0;
  font-size: 10pt;
  height: 30px;
  width: 150px;
}

.get-room-manager {
  background-color: rgba(255, 255, 255, 0.745);
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.manager-available {
  border: 1px solid black;
  background-color: #860c0e3b;
  margin-bottom: 2%;
}

.manager-available:disabled {
  color: white;
  background-color: #860c0e;
}

.error {
  padding: 5%;
  color: red;
  background-color: rgba(255, 255, 255, 0.698);
}

.hidden {
  display: none;
}